.card-details {
    background-color: #f4f5f7;
    &.modal {
        position: fixed; /* Stay in place */
        z-index: 3; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        border: 1px solid black;
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        cursor: default;
    }
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #f4f5f7;
        margin: auto;
        padding: 10px;
        border: 1px solid #888;
        width: 800px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        // height: 90%;
        text-align: center;
        overflow-y: auto;
        & .icon {
            font-size: 16px;
            position: absolute;
            left: 10px;
        }
        & h3 {
            font-size: 18px;
        }
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    /* The Close Button */

    .close-btn {
        font-size: 1rem;
        margin: 10px;
        font-family: quicksand;
        border: none;
        background-color: unset;
        cursor: pointer;
        position: absolute;
        right: 0;
    }

    // Main //

    .not-show {
        display: none;
    }

    .headline {
        margin-left: 40px;
    }

    .title-container {
        & .card-title {
            padding: 10px 8px;
            background-color: transparent;
            resize: none;
            border: none;
            font-weight: 700;
            font-size: 1.4rem;
            overflow: hidden;
            max-height: 40px;
            color: #172b4d;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
        }
        & .list-name {
            text-align: start;
            margin-bottom: 10px;
            margin-left: 40px;
        }
    }
    .main-container {
        margin-right: 30px;
        & .labels-container {
            margin-left: 40px;
            margin-right: 40px;
            & h4 {
                text-align: start;
            }
            & .label {
                width: 50px;
                height: 32px;
                border-radius: 3px;
                margin-top: 8px;
                &.green {
                    background-color: #61bd4f;
                }
                &.yellow {
                    background-color: #f2d600;
                }
                &.orange {
                    background-color: #ff9f1a;
                }
                &.red {
                    background-color: #eb5a46;
                }
                &.purple {
                    background-color: #c377e0;
                }
                &.blue {
                    background-color: #0079bf;
                }
            }
        }
        & .due-date-container {
            & h4 {
                text-align: start;
            }
            & input[type="checkbox"] {
                height: 16px;
                width: 16px;
            }
            & .due-date {
                background-color: rgba(9, 30, 66, 0.04);
                border: none;
                padding: 8px 12px;
                margin-top: 8px;
                color: #172b4d;
                font-size: 1rem;
                & .due-status {
                    color: white;
                    font-size: 14px;
                    margin-left: 3px;
                    padding: 2px;
                    &.complete {
                        background-color: #5aac44;
                    }
                    &.over-due {
                        background-color: #cf513d;
                    }
                }
            }
        }
        .description-container {
            margin-top: 30px;
            margin-bottom: 30px;
            & .edit-description {
                border: none;
                background-color: rgba(9, 30, 66, 0.04);
                cursor: pointer;
                padding: 6px 12px;
                &:hover {
                    background-color: rgba(9, 30, 66, 0.08);
                }
            }
            & .description-text-area {
                margin-bottom: 15px;
                text-align: start;
                margin-left: 40px;
                width: 100%;
                &-fake {
                    background-color: rgba(9, 30, 66, 0.04);
                    box-shadow: none;
                    border: none;
                    border-radius: 3px;
                    min-height: 50px;
                    text-align: start;
                    margin-top: 10px;
                    margin-left: 40px;
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(9, 30, 66, 0.08);
                    }
                }
            }
            & .description-form {
                & .btn {
                    margin-left: 35px;
                }
                & textarea {
                    resize: none;
                    width: 100%;
                    height: 120px;
                    box-shadow: inset 0 0 0 2px #0079bf;
                    margin: 8px 0;
                    font-size: 16px;
                    margin-left: 40px;
                    font-family: unset;
                }
            }
        }
        & .txt-container {
            p {
                margin: 8px 12px;
            }
        }
    }
    .checklist-container {
        margin-bottom: 30px;
        & .todo {
            text-align: start;
            // margin-left: 40px;
            & .delete-todo {
                background-color: rgba(9, 30, 66, 0.04);
                border: none;
                cursor: pointer;
                padding: 6px 12px;
                &:hover {
                    background-color: rgba(9, 30, 66, 0.08);
                }
            }
        }
    }
}

.side-container {
    & h4 {
        color: #5e6c84;
    }
    & .card-details-btn {
        background-color: rgba(9, 30, 66, 0.04);
        cursor: pointer;
        border: none;
        padding: 6px 12px;
        margin-top: 8px;
        color: #172b4d;
        font-size: 1rem;
        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
        }
    }
}
