.card-details {
    background-color: #f4f5f7;
    &.modal {
        position: fixed; /* Stay in place */
        z-index: 3; /* Sit on top */
        padding-top: 45px; /* Location of the box */
        padding-bottom: 30px;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        border: 1px solid black;
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        cursor: default;
    }
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #f4f5f7;
        margin: auto;
        width: 800px;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        text-align: center;
        overflow-y: auto;
        padding: 10px;
        & .close-details-modal {
            padding: 7px;
        }
        & .icon {
            font-size: 20px;
            position: absolute;
            left: 20px;
            color: #42526e;
        }
        & h3 {
            font-size: 18px;
            color: #172b4d;
            font-size: 16px;
            font-weight: 600;
        }
        & h5 {
            color: #5e6c84;
        }
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    // Main //
    & .headline {
        margin-left: 40px;
    }

    & .card-details-btn {
        background-color: rgba(9, 30, 66, 0.04);
        cursor: pointer;
        border: none;
        padding: 6px 12px;
        margin-top: 8px;
        color: #172b4d;
        font-size: 14px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
        }
    }

    & .cover {
        height: 200px;
        background-position: center;
        background-size: cover;
        &.green {
            background-color: #7bc86c;
        }
        &.yellow {
            background-color: #f5dd29;
        }
        &.orange {
            background-color: #ffaf3f;
        }
        &.red {
            background-color: #ef7564;
        }
        &.purple {
            background-color: #cd8de5;
        }
        &.blue {
            background-color: #5ba4cf;
        }
        &.pink {
            background-color: #ff8ed4;
        }
        &.pic1 {
            background-image: url("/assets/covers/1.jpg");
        }
        &.pic2 {
            background-image: url("/assets/covers/2.jpg");
        }
        &.pic3 {
            background-image: url("/assets/covers/3.jpg");
        }
        &.pic4 {
            background-image: url("/assets/covers/4.jpg");
        }
        &.pic5 {
            background-image: url("/assets/covers/5.jpg");
        }
        &.pic6 {
            background-image: url("/assets/covers/6.jpg");
        }
        &.pic7 {
            background-image: url("/assets/covers/7.jpg");
        }
    }

    & .title-container {
        margin: 12px 40px 8px 0;
        & .card-title-form {
            width: 100%;
        }
        & .card-title {
            text-align: start;
            width: 100%;
            padding: 10px 8px;
            background-color: transparent;
            resize: none;
            border: none;
            font-weight: 600;
            font-size: 20px;
            overflow: hidden;
            max-height: 40px;
            color: #172b4d;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
        }
        & .list-name {
            text-align: start;
            margin-bottom: 0;
            margin-left: 40px;
        }
    }
    & .main-container {
        padding: 0 10px 10px;
        margin-right: 50px;
        & .other-details {
            margin-left: 40px;
            & > div {
                margin-right: 20px;
            }
            & .other-details-headline {
                margin-bottom: 10px;
            }
            & .members-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            & .labels-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                & h4 {
                    text-align: start;
                }
                & .label {
                    width: 50px;
                    height: 32px;
                    border-radius: 3px;
                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                    &.green {
                        background-color: #61bd4f;
                    }
                    &.yellow {
                        background-color: #f2d600;
                    }
                    &.orange {
                        background-color: #ff9f1a;
                    }
                    &.red {
                        background-color: #eb5a46;
                    }
                    &.purple {
                        background-color: #c377e0;
                    }
                    &.blue {
                        background-color: #0079bf;
                    }
                }
            }
            & .due-date-container {
                & h4 {
                    text-align: start;
                }
                & input[type="checkbox"] {
                    height: 16px;
                    width: 16px;
                }
                & .due-date {
                    background-color: rgba(9, 30, 66, 0.04);
                    border: none;
                    padding: 8px 12px;
                    color: #172b4d;
                    font-size: 1rem;
                    & .due-status {
                        color: white;
                        font-size: 14px;
                        margin-left: 5px;
                        padding: 2px;
                        &.complete {
                            background-color: #5aac44;
                        }
                        &.over-due {
                            background-color: #cf513d;
                        }
                    }
                }
                & .delete-due-date {
                    background-color: rgba(9, 30, 66, 0.04);
                    border: none;
                    padding: 8px 12px;
                    font-size: 1rem;
                    &:hover {
                        background-color: rgba(9, 30, 66, 0.08);
                        cursor: pointer;
                    }
                }
            }
        }
        & .txt-container {
            p {
                margin: 8px 12px;
            }
        }
        & .side-container {
            & h4 {
                color: #5e6c84;
            }
        }
    }
    @media screen and (max-width: 480px) {
        .modal-content {
            width: 340px;
        }
        .main-sidebar {
            flex-direction: column;
            & button {
                margin-left: 5px;
            }
            & .add-to-card {
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
            }
            & .actions {
                flex-direction: row;
                justify-content: center;
            }
        }
        .main-container {
            margin-left: 0;
        }
    }
}
