.description-container {
    margin-top: 30px;
    margin-bottom: 30px;
    & .edit-description {
        border: none;
        background-color: rgba(9, 30, 66, 0.04);
        cursor: pointer;
        padding: 6px 12px;
        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
        }
    }
    & .description-form {
        margin-left: 40px;
        & .btn {
            margin-left: 35px;
        }
        & .description {
            resize: none;
            width: 100%;
            font-size: 16px;
            margin-left: 40px;
            margin-bottom: 15px;
            text-align: start;
            box-shadow: none;
            border: none;
            border-radius: 3px;
            min-height: 50px;
            text-align: start;
            margin-top: 10px;
            font-family: unset;
            margin: 8px 0;
            &.fake {
                cursor: pointer;
                background-color: rgba(9, 30, 66, 0.04);
                &:hover {
                    background-color: rgba(9, 30, 66, 0.08);
                }
                &.value {
                    background-color: unset;
                }
            }
            &.textarea {
                height: 120px;
                box-shadow: inset 0 0 0 2px #0079bf;
                background-color: white;
            }
        }
    }
}
