.add-container {
    & .add-btn {
        background-color: hsla(0, 0%, 100%, 0.3);
        width: 200px;
        padding: 10px;
        margin-top: 5px;
        cursor: pointer;
        align-self: baseline;
        &:hover {
            background-color: rgba(255, 255, 255, 0.171);
        }
    }
    & .add-list-form {
        cursor: pointer;
        background-color: #ebecf0;
        margin-top: 5px;
        width: 300px;
        padding: 5px;
    }
}
