.boards {
    background-color: rgba(32, 81, 167, 0.08);
    text-align: center;
    color: #172b4d;
    // & ul {
    //     border-bottom: 1px solid #b3bac5;
    //     padding-bottom: 10px;
    // }
    & h2 {
        color: #172b4d;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    & .boards-container {
        padding-bottom: 10px;
        // width: 800px;
        // margin: auto;
        // border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        & .template-info {
            border-radius: 3px;
            display: inline-block;
            margin-left: 8px;
            padding: 6px 12px 6px 6px;
            background-color: rgba(9, 30, 66, 0.04);
        }
    }
    & .template-img {
        width: 170px;
        height: 100px;
        border-radius: 3px;
        margin-right: 10px;
        cursor: pointer;
        background-size: cover;
        &:hover {
            opacity: 0.8;
        }
        & span {
            border-radius: 3px;
            background-color: hsla(0, 0%, 100%, 0.5);
            padding: 3px 8px;
            font-weight: 700;
            text-transform: uppercase;
            color: #172b4d;
            font-size: 11px;
            margin-left: 5px;
        }
        & .template-name {
            color: white;
            font-weight: 700;
        }
    }
    & .user-boards-container {
        // width: 800px;
        // margin: auto;
        // border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        & .board-link {
            width: 170px;
            height: 100px;
            margin-right: 10px;
            padding: 5px;
            background-size: cover;
            cursor: pointer;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            & .fav-board {
                border: unset;
                background-color: unset;
            }
            &:hover {
                opacity: 0.8;
            }
            &.empty {
                border: 1px solid #b3bac5;
                background-color: rgba(9, 30, 66, 0.04);
                color: black;
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
    @media screen and (max-width: 480px) {
        .template-container {
            flex-wrap: wrap;
        }
        .template-img {
            width: 100px;
            height: 70px;
            margin-bottom: 10px;
        }
        .user-boards-container {
            flex-wrap: wrap;
            & .board-link {
                width: 100px;
                height: 70px;
                margin-bottom: 10px;
            }
        }
    }
}
