.boards {
    background-color: rgba(32, 81, 167, 0.08);
    & h2 {
        color: #172b4d;
    }
    & .boards-container {
        border-bottom: 1px solid #b3bac5;
        padding-bottom: 10px;
    }
    & .template-img {
        width: 170px;
        height: 100px;
        border-radius: 3px;
        margin-right: 10px;
        cursor: pointer;
        background-size: cover;
        &:hover {
            opacity: 0.8;
        }
        & span {
            border-radius: 3px;
            background-color: hsla(0, 0%, 100%, 0.69);
            padding: 3px 8px;
            font-weight: 700;
            text-transform: uppercase;
            color: #172b4d;
            font-size: 11px;
            margin-left: 5px;
        }
        & .template-name {
            color: white;
            font-weight: 700;
        }
    }
    & .user-boards-container {
        & .board-link {
            width: 170px;
            height: 100px;
            margin-right: 10px;
            padding: 5px;
            background-size: cover;
            & a {
                color: white;
                font-weight: 700;
                font-size: 1rem;
            }
            &:hover {
                opacity: 0.8;
            }
            &.empty {
                border: 1px solid #b3bac5;
                background-color: rgba(9, 30, 66, 0.04);
                cursor: pointer;
            }
        }
    }
}
