.user-profile {
    color: #0c3953;
    & .user-profile-container{
        margin-left: 10px;
    }
    & .headline {
        font-size: xx-large;
        text-align: center;
    }
    & .profile-picture{
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }
    & label {
    }
}
