.notification-msg {
    border: 1px solid black;
    position: absolute;
    right: 5px;
    top: 45px;
    background-color: rgb(220, 243, 214);
    border: 2px solid rgb(133, 165, 123);
    color: rgb(49, 59, 45);
    border-radius: 20px;
    font-weight: bold;
    padding: 0 10px;
}