.login {
    & header {
        background-color: rgb(5, 97, 150);
    }
    & h1 {
        text-align: center;
        font-size: 2rem;
        color: #056196 
    }
    & .signup-container {
        margin-right: 10px;
        border-right: 1px solid gray;
        padding: 20px;
        color: #0c3953;
    }
    & .login-container {
        margin-left: 10px;
        padding: 20px;
        color: #0c3953;
    }
    & .logo {
        width: 100px;
        font-family: "Yellowtail";
        color: white;
        font-size: 1.75rem;
        opacity: 0.6;
        &:hover {
            opacity: 0.8;
        }
    }

    & .icon {
        width: 20px;
    }
}
