.board-header {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    & .board-name {
        border-radius: 3px;
        font-weight: bold;
        font-size: x-large;
        color: white;
    }
    & .favorite-board {
        cursor: pointer;
    }

    & .board-header-icon {
        border: none;
        font-size: larger;
        color: white;
        margin-right: 5px;
        height: 35px;
        border-radius: 3px;
        background-color: hsla(0, 0%, 100%, 0.3);
        &:not:first-child {
            margin-left: 5px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.171);
        }
    }
    & .avatar-container {
        background-color: unset;
        &:hover {
            background-color: unset;
        }
        & .member-avatar {
            margin-left: 2px;
        }
    }

    & .invite-btn {
        cursor: pointer;
        width: 50px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-left: 5px;
    }

    & .menu-container {
        & .close-btn{
            color: #5e6c84;
            float: right;
            border: none;
            background-color: unset;
            cursor: pointer;
        }
        position: relative;
        & .show-menu-icon {
            cursor: pointer;
            color: white;
            float: right;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            padding: 10px;
            position: relative;
            & span {
                margin-left: 4px;
                font-size: 16px;
            }
        }
        & .color-sample {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 7px;
        }

        & .style-change-container {
            & .color-picker {
                height: 50px;
                width: 100px;
                &.blue {
                    background-color: rgb(0, 121, 191);
                }
                &.green {
                    background-color: rgb(81, 152, 57);
                }
                &.orange {
                    background-color: rgb(210, 144, 52);
                }
                &.red {
                    background-color: rgb(176, 70, 50);
                }
                &.purple {
                    background-color: rgb(137, 96, 158);
                }
            }
        }
    }
    & .add-from-template {
        border: unset;
        font-size: larger;
        color: white;
        height: 35px;
        background-color: #172b4d;
        cursor: pointer;
        &:hover {
            background-color: #14223b;
        }
    }
}
