.home-page {
    background-color: white;
    & .head-line {
        text-align: center;
        font-size: x-large;
    }
    & .text {
        align-self: flex-end;
        font-size: x-large;
    }
}
