.home-page {
    background-color: white;
    min-height: 100vh;
    background-color: rgba(32, 81, 167, 0.08);
    color: rgb(5, 97, 150);
    // & .home-page-container {
    //     margin-top: 10px;
    // }
    & p {
        align-self: flex-end;
        text-align: center;
        font-size: 1.75rem;
        & button {
            border: none;
            padding: 10px;
            background: #056196;
            font-weight: bolder;
            cursor: pointer;
            & a {
                color: white;
            }
        }
        & .head-line {
            font-size: 3rem;
            font-weight: bold;
        }
    }
    & img {
        max-width: 657px;
    }
}

@media screen and (max-width: 780px) {
    .home-page-container {
        flex-wrap: wrap;
    }
}
