.home-page {
    background-color: white;
    min-height: 100vh;
    background-color: rgba(32, 81, 167, 0.08);
    color: rgb(5, 97, 150);
    // & .home-page-container {
    //     margin-top: 10px;
    // }
    & header {
        background-color: rgb(5, 97, 150);
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 10px;
        padding-left: 10px;
        flex-wrap: wrap;
        & .logo {
            width: 100px;
            font-family: "Yellowtail";
            color: white;
            font-size: 1.75rem;
            opacity: 0.6;
            &:hover {
                opacity: 0.8;
            }
        }
        & .loggin-btn {
            border: unset;
            background-color: hsla(0, 0%, 100%, 0.3);
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 3px;
        }
    }
    & p {
        align-self: center;
        text-align: center;
        font-size: 1.75rem;
        padding-left: 5px;
        & .start-now-link {
            border: none;
            padding: 10px;
            background: #056196;
            font-weight: bolder;
            cursor: pointer;
            color: white;
            font-size: 1rem;
        }
        & .head-line {
            font-size: 3rem;
            font-weight: bold;
        }
    }
    & .banner {
        max-width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .home-page-container {
        flex-wrap: wrap;
    }
}
