.card-preview {
    background-color: white;
    padding: 6px 8px 2px;
    margin-bottom: 8px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    color: #172b4d;
    cursor: pointer;
    & p {
        margin: 0;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.438);
    }
    & .label {
        height: 8px;
        width: 50px;
        border-radius: 3px;
        &.green {
            background-color: #61bd4f;
        }
        &.yellow {
            background-color: #f2d600;
        }
        &.orange {
            background-color: #ff9f1a;
        }
        &.red {
            background-color: #eb5a46;
        }
        &.purple {
            background-color: #c377e0;
        }
        &.blue {
            background-color: #0079bf;
        }
    }
}

.edit-icon {
    font-size: smaller;
    &-btn {
        cursor: pointer;
        position: absolute;
        right: 4px;
        top: 2px;
        background-color: unset;
        border: none;
        padding: 4px;
        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
        }
    }
}