.card-preview {
    background-color: white;
    padding: 6px 8px 2px;
    margin-bottom: 8px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    color: #172b4d;
    cursor: pointer;
    & a {
        color: #172b4d;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    & p {
        margin: 0;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.438);
    }
    & .label {
        height: 8px;
        width: 50px;
        border-radius: 3px;
        margin-bottom: 5px;
        &.green {
            background-color: #61bd4f;
        }
        &.yellow {
            background-color: #f2d600;
        }
        &.orange {
            background-color: #ff9f1a;
        }
        &.red {
            background-color: #eb5a46;
        }
        &.purple {
            background-color: #c377e0;
        }
        &.blue {
            background-color: #0079bf;
        }
    }
    & .info-btn-container{
        margin-top: 4px;
    }
    & .info-btn{
        border: none;
        background-color: unset;
        color: #6b778c;
    }
}

.edit-icon {
    font-size: smaller;
    &-btn {
        cursor: pointer;
        position: absolute;
        right: 4px;
        top: 2px;
        background-color: unset;
        border: none;
        padding: 4px;
        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
        }
    }
}

.cover-container {
    & .color {
        height: 30px;
        &.green {
            background-color: #7bc86c;
        }
        &.yellow {
            background-color: #f5dd29;
        }
        &.orange {
            background-color: #ffaf3f;
        }
        &.red {
            background-color: #ef7564;
        }
        &.purple {
            background-color: #cd8de5;
        }
        &.blue {
            background-color: #5ba4cf;
        }
        &.pink {
            background-color: #ff8ed4;
        }
    }
    & .picture {
        height: 150px;
        background-size: cover;
        &.pic1 {
            background-image: url("../../assets/covers/1.jpg");
        }
        &.pic2 {
            background-image: url("../../assets/covers/2.jpg");
        }
        &.pic3 {
            background-image: url("../../assets/covers/3.jpg");
        }
        &.pic4 {
            background-image: url("../../assets/covers/4.jpg");
        }
        &.pic5 {
            background-image: url("../../assets/covers/5.jpg");
        }
        &.pic6 {
            background-image: url("../../assets/covers/6.jpg");
        }
        &.pic7 {
            background-image: url("../../assets/covers/7.jpg");
        }
    }
}
