.card-options {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    overflow: hidden;
    position: absolute;
    width: 214px;
    z-index: 70;
    right: 4px;
    top: 134px;
    min-height: 150px;
    & .headline-option {
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        color: #5e6c84;
        text-align: center;
        padding-bottom: 20px;
    }
    & ul {
        text-align: center;
        color: #172b4d;
        & li {
            cursor: pointer;
            padding: 5px;
            &:hover {
                background-color: rgba(9, 30, 66, 0.04);
            }
        }
    }
    & .labels-container {
        & .labels {
            & .label {
                width: 200px;
                height: 32px;
                border-radius: 3px;
                margin-bottom: 5px;
                &.green {
                    background-color: #61bd4f;
                }
                &.yellow {
                    background-color: #f2d600;
                }
                &.orange {
                    background-color: #ff9f1a;
                }
                &.red {
                    background-color: #eb5a46;
                }
                &.purple {
                    background-color: #c377e0;
                }
                &.blue {
                    background-color: #0079bf;
                }
            }
        }
    }

    & .members-container {
        & h4 {
            margin-bottom: 10px;
        }
        & .member {
            color: #091e42;
            padding: 5px;
            margin-bottom: 5px;
            font-size: smaller;
            cursor: pointer;
            & .avatar-logo{
                margin-right: 5px;
            }
        }
    }
}
