.main-header {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    flex-wrap: wrap;
    & .logo {
        width: 100px;
        font-family: "Yellowtail";
        color: white;
        font-size: 1.75rem;
        opacity: 0.6;
        &:hover {
            opacity: 0.8;
        }
    }

    & .icon {
        width: 20px;
    }

    & .icon-container {
        background-color: hsla(0, 0%, 100%, 0.3);
        border: unset;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 3px;
        position: relative;
        & :not:first-child {
            margin-left: 5px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.171);
        }
    }

    & .icon-container:last-of-type {
        margin-right: 5px;
    }

    & .menu-container {
        flex-grow: 1;
    }

    & .avatar-member {
        cursor: pointer;
    }

    & .avatar-member-popup {
        position: absolute;
        left: 10px;
        top: 35px;
    }

    & .avatar-options {
        padding: 10px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
        overflow: hidden;
        position: absolute;
        width: 200px;
        z-index: 70;
        top: 40px;
        min-height: 150px;
        & .options-headline {
            margin: 0;
            padding: 10px 0;
            border-bottom: 1px solid rgba(9, 30, 66, 0.13);
            color: #5e6c84;
            text-align: center;
        }
        & .account-info {
            border-bottom: 1px solid rgba(9, 30, 66, 0.13);
            padding: 10px 0;
            & .user-name {
                font-size: small;
                color: gray;
                margin-left: 50px;
                cursor: auto;
                &:hover {
                    background-color: unset;
                }
            }
            & .full-name {
                margin-left: 50px;
                cursor: auto;
                &:hover {
                    background-color: unset;
                }
            }
        }
        & ul {
            text-align: center;
            color: #172b4d;
            & li {
                cursor: pointer;
                padding: 5px;
                & a {
                    color: #172b4d;
                }
                &:hover {
                    background-color: rgba(9, 30, 66, 0.04);
                }
            }
        }
    }
    & .notification-badge {
        position: absolute;
        top: -4px;
        left: -5px;
        padding: 3px 6px;
        border-radius: 50%;
        background: red;
        color: white;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    // .logo {
    //     display: none;
    // }
}
